@import "tailwindcss";

@theme{
  --breakpoint-xl_custom: 1024px;
  --breakpoint-xl2_custom:1402px;
}

* {
  user-select: none;
  cursor: default;
}



/* Only show text cursor on actual input fields */
input, textarea, [contenteditable="true"] {
  cursor: text;
}
